body {
    background-color: darkslategray;
}

.main-container {
    position: relative;
    width: 800px;
    height: 800px;
    border: 2px solid #fff;
    margin: 0 auto;
}

.box {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: wheat;
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes run {
    0% {left: 0; top: 0; border-radius: 0; background-color: tomato}
    25% {left: 75%; top: 0; border-radius: 20%; background-color: royalblue}
    50% {left: 75%; top: 75%; border-radius: 30%; background-color: turquoise}
    75% {left: 0; top: 75%; border-radius: 50%; background-color: palevioletred}
    100% {left: 0; top: 0; border-radius: 20%; background-color: wheat;}
}